@font-face {
  font-family: Norse-Bold;
  src: url(./Fonts/Norse-Bold.otf);
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left {
  width: 35vw;
  background: url("./images/roan-lavery-lvy_VvdLmnA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Norse-Bold;
}
.footer{
    margin-top: 530px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.foo{
    
    color: rgba(255, 255, 255, 0.7);
}

.right {
  display: flex;
  flex-direction: column;
  width: 65vw;
  background-color: #fafafa;
}

.text-background {
  width: 35vw;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25vh;
}

.logo-text {
  font-size: 90px;
  margin-bottom: 30px;
}
.logo {
  width: 90px;
}
.top {
  /* background-color: rgb(235, 235, 235);*/
  height: 30vh;
  display: flex;
  align-items: center;
  color: #323131;
}
.top h2 {
  margin: 5rem;
}
form {
  height: 40vh;
  background-color: rgb(214, 28, 28);
  background-color: white;
  filter: drop-shadow(1px 3.5px 3px rgba(0, 0, 0, 0.3));
}
.form-main {
  /*height: 40vh;*/
  display: flex;
  flex-direction: row;
  color: rgb(80, 79, 79);
  
}
.bottom {
  height: 20vh;
}

.form-divs {
  margin-left: 30px;
}
.form-left,
.form-right {
  margin-left: 100px;
}
.form-div {
  margin: 0px 20px 50px 0px;
}
input {
  width: 22rem;
  height: 2.1rem;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding-left: 13px;
  font-size: 16px;
  /*filter: drop-shadow(2px 2px 4px black);*/
}


input:invalid {
  border: 1px solid red;
}

.form-heading {
  margin-left: 100px;
  color: rgb(63, 62, 62);
}
label {
  font-size: 14px;
  font-weight: 600;
}

.button-section {
  margin: 30px 0px 0px 100px;
}
button {
  width: 17rem;
  height: 3rem;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-size: 20px;
  background-color: #596d48;
}
.login {
  color: #596d48;
  text-decoration: none;
}
h3 {
  margin-top: 3rem;
  color: rgb(63, 62, 62);
}

#error{
    color: red;
    margin: 0;
    font-size: 12px;
}
